{% extends "crypto_templ/cr_base.html" %}
{% block title %} N Green Candles Buy Signal Dev {% endblock %}

{% block content %}
<h2> The N Green Candles Buy strategy </h2>
<p>
At any time, analyze last N candles<br>
- IF candles from 1 to N-X have at least R% of candles with change > 0<br>
  -  and IF 100-(100*([N close price]/[candle 1 open price])) > P<br>
     - THEN trigger BUY 
</p><br>
<p>
NOTE:<br>
- N, X, R, P are arbitrary values entered by user<br>
- change is the difference between the candle close price and open price 
</p><br>
<p>
EXAMPLE: <br>
N=5	we instruct the bot to anaylize the last 5 candles<br>
X=0	<br>
R=100<br>
P=0
</p><br>
<p>
it is<br>
- IF 100% of the candles from 1 to 5 [N-X, or 5-0] have change > 0		[meaning: if 5 consecutive candles are GREEN candles]<br>
   - and IF 100-(100*([candle 5 close price] / [candle 1 open price])) > 0	[meaning: from candle 1 to 4, the price has increased more than 0%]<br>
      - THEN trigger BUY THEN buy
</p><br>

<p><h4>Basic settings for this strategy</h4></p><br>
<p> BUY SIGNAL : N GEEN Candles</p>
<p>
It looks that a N green candles sequence is quite common event and not too significative<br><br>
N=8	we instruct the bot to anaylize the last 8 candles<br>
X=0	<br>
R=85      at least 85% of N candles must be green <br>
P=0</p>

<p>SELL SIGNAL: Candle TRAILING Stop-Loss + Minimum ROI - with these values: <br>
S = 0.5%<br>
MR = 1.0%<br>
ROI = DISABLED (0%)<br>
User Stop loss = (0 till 32 minutes = -3%, after 32 minutes = -0.3%) </p><br>

<p> All rights reserved &laquo; Christian &raquo; </p>
{% endblock %}
