{% extends "crypto_templ/cr_base.html" %}
{% block title %} Curve Inversion strategy {% endblock %}

{% block content %}
<h2> The Curve Inversion strategy </h2>
<p>
At any time, analyze last N candles<br>
- IF candles from 1 to N-X have at least R% of candles with change < 0 <br>
  - and IF candles from (N-X)+1 to N have change > 0<br>
    -  and IF 100-(100*([N close price]/[candle 1 open price])) < P <br>
      - THEN trigger BUY 
</p><br>
<p>
NOTE:<br>
- N, X, R, P are arbitrary values entered by user<br>
- change is the difference between the candle close price and open price 
</p><br>
<p>
EXAMPLE:<br> 
N=12	we instruct the bot to anaylize the last 12 candles<br>
X=2	<br>
R=80<br>
P=4
</p><br>
<p>
it is<br>
- IF 80% of the candles from 1 to 10 [N-X, or 12-2] have change < 0		[meaning: if at least 8 candles of 10 are RED candles]<br>
  - and IF candles 11 [(N-X)+1, or (12-2)+1] to 12 have change >0 		[meaning: last 2 candles are GREEN candles]<br>
    - and IF 100-(100*([candle 12 close price] / [candle 1 open price])) < 4	[meaning: from candle 1 to 12, the price has decreased more than 4%]
      - THEN trigger BUY THEN buy
</p><br>
<p><h4>Basic settings for this strategy</h4></p><br>
<p> BUY SIGNAL : CURVE INVERSION</p>
<p>
N=14	we instruct the bot to anaylize the last 14 candles<br>
X=2	<br>
R=90      at least 90% of (14-2=12) candles are red, that means at least 11 candles are red <br>
P=4</p>

<p>SELL SIGNAL: Candle TRAILING Stop-Loss + Minimum ROI - with these values: <br>
S = 0.2%<br>
MR = 0.4%<br>
ROI = 1%<br>
User Stop loss = (0 till 32 minutes = -2%, after 32 minutes = -0.3%) </p><br>

<p> All rights reserved &laquo; Christian &raquo; </p>
{% endblock %}

